/* Police Google Fonts */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}


/* Navlink */
.navbar-nav .nav-link.active {
    font-weight: 600;
    text-decoration: underline;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}