.hero-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.hero-content h2 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
    margin: 1.8rem;
}